:root {
    --primary-color: #10CAB7;
    --regular-text-color: #2C4755;
    --back-gray1: #FAFAFA;
    --text-gray2: #EBECED;
    --section-margin-top: 60px;
    --section-margin-bottom: 60px;
    --gap: 15px;
    --line-height: 1.8;
    --large-text: 40px;
    --large-text2: 30px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;
}
.header {
    padding: 20px;
}
.container {
    margin: auto;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links:hover {
    transition-duration: .5s;
    .icon span:nth-child(2) {
        width: 100%;
    }
    ul {
        height: 207px;
    }
}
.header .links .icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: space-around;
}
.header .links .icon span {
    width: 100%;
    height: 2px;
    background-color: #333;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition-duration: .5s;
}
.header .links ul::before{
    content: "";
    border: 10px solid red;
    position: absolute;
    right: 5px;
    top: -10px;
    border-color: transparent transparent #f6f6f6 transparent;
}
.header .links ul {
    list-style: none;
    padding: 0;
    text-decoration: none;
    position: absolute;
    background-color: #f6f6f6;
    right: 0;
    top: 100%;
    display: block;
    transition-duration: .5s;
    width: 120px;
    height: 0;
    overflow: hidden;
}
.header .links ul li {
    padding: 15px;
}
.header .links ul div:first-child {
    height: 10px;
    width: 100%;
    background-color: white;
}
.header .links ul li:not(:nth-child(2)) {
        border-top: 1px solid #333;
}   
.header .links ul a {
    text-decoration: none;
    color: #333;
    font-weight:500;
    transition-duration: .3s;
}
.header .links ul a:hover {
    margin-left: 10px;
}
.landing {
    background-image: url(../Images/landing.jpg);
    height: calc(100vh - 70px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}
h1 {
    color: var(--primary-color);
    font-size: var(--large-text);
}
.landing p {
    max-width: 350px;
    text-align: center;
    line-height: var(--line-height);
    color: var(--regular-text-color);
}
.featurs {
    padding-bottom: var(--section-margin-bottom);
    padding-top: var(--section-margin-top);
    background-color: var(--back-gray1);
}
.featurs .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-between;
    margin: auto;
    gap: 30px;
} 
.featurs .container > div {
    box-shadow: 5px 5px 5px #00000030;
}
.featur {
    max-width: 300px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--gap);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.featur i {
    color: var(--primary-color);
    font-size: 60px;
}
.featur h3 {
    color: var(--regular-text-color);
    font-weight: 800;
}
.featur p {
    line-height: 1.6;
}
.services {
    background-color: white;
    padding-bottom: var(--section-margin-bottom);
    padding-top: var(--section-margin-top);
    position: relative;
}
.section-heding {
    font-size: 80px;
    color: var(--text-gray2);
    text-align: center;
    font-weight: 800;
    width: 100%;
}
.section-heding + p {
    font-size: 16px;
    color: #2C4755;
    text-align: center;
    transform: translateY(-25px);
    width: 100%;
    margin-bottom: var(--section-margin-bottom);
}
.services .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services .container > div:last-child,
.services .container > div:last-child img {
    width: 0;
}
.srv {
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: start;
    column-gap: 50px;
    max-width: 360px;
    gap: 15px;
}
.srv p {
    grid-column: 2;
}
.srv i {
    font-size: 35px;
}
.portfolio {
    background-color: var(--back-gray1);
    padding-bottom: var(--section-margin-bottom);
    padding-top: var(--section-margin-top);
}
.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--gap);
}
.portfolio-content .project {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    max-width: 300px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #00000030;
    overflow: hidden;
}
.portfolio-content .project img {
    max-width: 300px;
}
.portfolio-content .project h3 {
    color: var(--regular-text-color);
    margin-left: 15px;
}
.portfolio-content .project p { 
    margin: 0 15px 15px 15px ;
}
.about {
    padding-bottom: var(--section-margin-bottom);
    padding-top: var(--section-margin-top);
}
.about-content {
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.about-content > :first-child {
    position: relative;
}
.about-content img {
    height: 400px;
}
.about-paragraphs {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    max-width: 500px;
    min-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    :nth-child(1) {
        font-weight: 800;
    }
    :nth-child(2) {
        width: 50%;
        background-color: #10CAB7;
        border-color: transparent;
        height: 1.5px;
    }
    :nth-child(3), :nth-child(1) {
        color: var(--regular-text-color);
        line-height: 1.6;
    }
}
.contact {
    background-color: var(--back-gray1);
    padding-bottom: var(--section-margin-bottom);
    padding-top: var(--section-margin-top);
}
.contact-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    > p {
        font-size: var(--large-text2);
        font-weight: 800;
        color: var(--regular-text-color);
    }
    > div:nth-child(2) {
        margin-top: 30px;
        position: relative;
        width: 370px;
        height: 20px;
        background-color: white;
        a {
            font-size: var(--large-text2);
            font-weight: 800;
            text-decoration: none;
            color: var(--primary-color);
            position: absolute;
            left: 20px;
            top: -20px;
        }
    }
}
.contact-content div:last-child {
    display: flex;
    color: var(--regular-text-color);
    font-weight: 600;
    font-size: 18px;
    gap: var(--gap);
    i {
        font-size: 25px;
        color: var(--regular-text-color);
    }
}
.contact .container p:nth-child(2) {
    margin-bottom: 20px;
}
footer {
    background-color: var(--regular-text-color);
    color: white;
    padding: 20px;
    text-align: center;
    span {
        color: var(--primary-color);
    }
}
@media (max-width: 719px) {
    .srv {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .contact-content > p:nth-child(1), 
    .contact-content > div:nth-child(2) a {
        font-size: 22px;
        text-align: center;
        left: calc(100% / 2);
    }
    .contact-content > div:nth-child(2) a {
        transform: translateX(calc(-100% / 2));
    }
}
@media (max-width: 768px) {
    .featur {
        width: 100%;
    }
    .featurs .container {
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
    }
    .section-heding {
        font-size: 60px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 750px;
    }
    .featur2 {
        grid-column: span 2;
        justify-self: center;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .about-content > :first-child {
        position: relative;
    }
    
    .about-content > :first-child::after {
    content: "";
    position: absolute;
    background-color: var(--text-gray2);
    width: 75px;
    height: 500px;
    top: -50px;
    left: -37px;
    z-index: -1;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .services .container > div:last-child, 
    .services .container > div:last-child img {
        width: 300px;
        height: 400px;
        align-self: center;
        position: relative;
        z-index: 1;
        border-radius: 15px;
    }
    .services .container > div:last-child::after {
        content: "";
        position: absolute;
        width: 75px;
        height: 500px;
        top: -50px;
        right: calc(-75px / 2);
        background-color: var(--regular-text-color);
        z-index: -1;
    }
    .about-content > :first-child::before {
        content: "";
        position: absolute;
        border-bottom: 50px solid var(--primary-color);
        border-left: 80px solid var(--primary-color);
        width: 100px;
        height: 200px;
        top: 10px;
        right: -140px;
        transform: scaleY(1.5);
        color: var(--primary-color);
        z-index: -1;
    }
}
